/** Add css rules here for your application. */
.header {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    /*border: 1px solid rgba(0, 0, 0, 0.12);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
    font-family: Roboto,sans-serif;
    background-color: #5677fc;
    color: white;
}

.seam{
    border: 1px solid rgba(0, 0, 0, 0.12);
}

body, td, a, div, .p {
    font-family: Roboto,sans-serif;
}

.roster-table {
    box-shadow: none;
    border: none;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.team-list{
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.51);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.footer {
    color: white;
    font-size: small;
}

.footerpanel {
    /*box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);*/
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #5677fc;
    color: white;
}

.playerListPanel {
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);
}

.middle-main {
    background-color: rgba(0, 0, 0, 0.12);
}

.remove-button {
    width: 24px;
    height: 24px;
    background: transparent url(img/ic_remove_circle_outline_grey600_24dp.png) no-repeat;
    border: none;
    box-shadow: none;
    align-self: center;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 48px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.remove-button:hover{
    background: transparent url(img/ic_remove_circle_outline_black_24dp.png) no-repeat;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.add-button{
    width: 24px;
    height: 24px;
    background: transparent url(img/ic_person_add_grey600_24dp.png) no-repeat;
    border: none;
    box-shadow: none;
    margin: 4px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.add-button:hover{
    background: transparent url(img/ic_person_add_black_24dp.png) no-repeat;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.reset-button{
    width: 24px;
    height: 24px;
    background: transparent url(img/ic_clear_grey600_24dp.png) no-repeat;
    border: none;
    box-shadow: none;
   /* background-color: white; */
    margin: 4px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.reset-button:hover{
    background: transparent url(img/ic_clear_black_24dp.png) no-repeat;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.player-name-textbox {
    height: 26px;
    margin: 4px;
}

.player-list-panel {
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.50);
   /* box-shadow: none;*/
    border: none;
    background-color: white;
    margin: 4px;
    padding: 4px;
}

.player-list-entry{
    margin: 24px;
    font-family: Roboto,sans-serif;
    font-size: small;
  /*  color: rgba(0, 0, 0, 0.50);*/
}

.create-teams-button {
    color: rgba(0, 0, 0, 0.50);
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.create-teams-button:hover{
    color: black;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    background-color: transparent;
}

.team-player {
    color: black;
    font-size: small;
}

.team-name {
    color: #5677fc;
    font-size: xx-large;
}