/** Add css rules here for your application. */
.header {
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
}

.seam{
    border: 1px solid rgba(0, 0, 0, 0.12);

}

body, td, a, div, .p {
    font-family: arial, sans-serif;
}

.roster-table {
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.51);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.team-list{
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.51);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.footer {
    color: grey;
    font-size: small;
}

.unranked{
    background-color: rgba(255, 0, 210, 0.21);
}

.bronze{
    background-color: rgba(216, 131, 37, 0.79);
}

.silver{
    background-color: silver;
}

.gold{
    background-color: gold;
}

.platinum{
    background-color: ghostwhite;
}

.diamond{
    background-color: dodgerblue;
}

.challenger{
    background-color: red;
}

.addpanel {
   /* box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);*/

}

.rostertableheader {
   /* box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);*/

}

.footerpanel {
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);

}

.playerListPanel {
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);

}

.middle-main {
    background-color: rgba(0, 0, 0, 0.12);
}

.remove-button {
    width: 30px;
    height: 30px;
    background: transparent url(img/ic_highlight_remove_black_18dp.png) no-repeat;
}

.add-button {
    width: 30px;
    height: 30px;
    background: transparent url(img/ic_assignment_returned_black_18dp.png) no-repeat;
}

.reset-button{
    width: 30px;
    height: 30px;
    background: transparent url(img/ic_settings_backup_restore_black_18dp.png) no-repeat;
}