/** Add css rules here for your application. */
.header {
    font-size: x-large;
    font-weight: bold;
    text-align: left;
    /*border: 1px solid rgba(0, 0, 0, 0.12);*/
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px;
   /* font-family: Roboto,sans-serif;*/
    background-color: #5677fc;
    color: white;
}

.seam{
    border: 1px solid rgba(0, 0, 0, 0.12);
}

body, td, a, div, .p {
    /*font-family: Roboto, sans-serif;*/
}

body{
    background-color: rgba(0, 0, 0, 0.12);
}

.roster-table {
    box-shadow: none;
    border: none;
    background-color: transparent;
    margin: 5px;
    padding: 5px;
}

.team-list{
    box-shadow: 0px 0px  4px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.footer {
    color: white;
   /* font-size: small;*/
}

.footerpanel {
    /*box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);*/
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #5677fc;
    color: white;
}

.playerListPanel {
    /*box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.12);*/
}

.middle-main {
   /* background-color: rgba(0, 0, 0, 0.12);*/

}

.remove-button {
    width: 24px;
    height: 24px;
    background: transparent url(img/ic_remove_circle_outline_grey600_24dp.png) no-repeat;
    border: none;
    box-shadow: none;
    align-self: center;
    background-color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 48px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.remove-button:hover{
    background: transparent url(img/ic_remove_circle_outline_black_24dp.png) no-repeat;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.add-button{
    margin-top: 5%;
}

.gwt-PopupPanel{
    background-color: white;
}


.player-name-textbox {
    height: 26px;
    margin: 4px;
}

.control-panel {
    border-right: solid thin lightgrey;
    padding: 12px;
    background-color: #e8e8e8 !important;
}

.player-list-entry{
   /* font-family: Roboto,sans-serif;*/
  /*  font-size: medium;*/
    background-color: transparent;
  /*  color: rgba(0, 0, 0, 0.50);*/
}

.create-teams-button {
    color: rgba(0, 0, 0, 0.50);
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.create-teams-button:hover{
    color: black;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    background-color: transparent;
}

.team-player {
    color: black;
  /* font-size: small;*/
}

.team-name {
    color: #5677fc;
   /* font-size: xx-large;*/
}

.missing-player-popup {
    margin-left: 30%;
    margin-top: 20%;
    background-color: white;
}

.startTeamPicker-btn {
    margin-left: 5%;
}

.BRONZE {
    background-color: rgba(163, 98, 39, 0.66) !important;
}

.SILVER{
    background-color: rgba(163, 163, 163, 0.43) !important;
}

.GOLD{
    background-color: rgba(255, 223, 40, 0.75) !important;
}

.PLATINUM{
    background-color: rgb(235, 235, 235) !important;
}

.DIAMOND{
    background-color: rgba(163, 247, 255, 0.33) !important;
}

.MASTER{
    background-color: rgba(68, 211, 57, 0.56) !important;
}

.CHALLENGER{
    background-color: rgba(255, 16, 14, 0.66) !important;
}

.UNRANKED{
    background-color: lightpink !important;
}

.remove-btn{
    margin-left: 4px;
}

.highlight {
    background-color: #5677fc !important;
}

.team2Style {
    margin-left: 20px;
}

.team-table-padding {
    margin: 10px !important;
}

.bracket-default {
    background-color: white !important;
    padding: 5px;
}

.bracket-winner {
    background-color: lime !important;
}

.bracket-loser {
    background-color: deepskyblue !important;
}

.large-text {
    font-size: xx-large !important;
}

.big-text {
    font-size: large !important;
}

.confirm-btn {
    margin-top: 10px;
}